.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0 5rem;
  padding: 0 5rem;
  position: relative;
  padding-top: 1rem;
}
.footer::before {
  content: " ";
  width: 60%;
  height: 4px;
  background-color: var(--color-1);
  position: absolute;
  top: 10px;
}

.title {
  font-size: 4em;
  font-weight: 900;
  font-style: italic;
  & p {
    font-family:'Times New Roman', Times, serif;
  }
}

.navFooter {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;

  & a {
    color: var(--color-1);
  }
  & a:hover {
    text-decoration: underline;
  }
}

.contact {
  color: var(--color-1);
  font-size: 0.9em;
  margin-left: auto;
}